<div class="min-h-full">
  <nav class="bg-gray-800">
    <div class="">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="assets/ironman.png" alt="Ironman slot calculator">
          </div>
          <div class="hidden md:block">
            <h1 class="text-3xl font-bold text-gray-300">Slot Calculator</h1>
          </div>
        </div>

      </div>
    </div>


  </nav>

  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">Ironman Slot Calculator</h1>
    </div>
  </header>
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">

      <div class="tabs">
        <a class="tab tab-lifted tab-active">Ironman PDF Startlist</a>
        <a class="tab tab-lifted disabled:opacity-75 hover:opacity-50 cursor-not-allowed">Manual entry</a>
      </div>

      <!-- Replace with your content -->
      <div class="px-4 py-6 sm:px-0">
        <div class="flex">
          <div class="flex-none w-1/3">
            <img src="assets/slotcalculator.gif">
          </div>

          <app-pdf-url-reader (startListLoaded)="onStartListLoaded($event)"
                              (startListLoading)="onStartListLoading($event)"></app-pdf-url-reader>
        </div>


        <section *ngIf="!isStartListFileLoading;" class="">
          <!--          <div class="stats bg-gray-100 text-primary-content">-->

          <!--            <div class="stat">-->
          <!--              <div class="stat-title">Total Slots</div>-->
          <!--              <div class="stat-value">-->
          <!--                <div class="form-control">-->
          <!--                  <label class="input-group">-->
          <!--                    <span>🏆</span>-->
          <!--                    <input type="number" placeholder="45" class="input input-bordered text-gray-800"-->
          <!--                           [(ngModel)]="nbSlots"/>-->
          <!--                  </label>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--              <div class="stat-desc"></div>-->

          <!--            </div>-->

          <!--            <div class="stat">-->
          <!--              <div class="stat-title">Total participants</div>-->
          <!--              <div class="stat-value">-->
          <!--                <div class="form-control">-->
          <!--                  <label class="input-group">-->
          <!--                    <span>🏊‍♀️🚴‍♀️️🏃🏼‍♂️</span>-->
          <!--                    <input type="number" placeholder="45" class="input input-bordered text-gray-800"-->
          <!--                           [(ngModel)]="totalParticipants" (change)="updateTotalParticipant()"/>-->
          <!--                  </label>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--              <div class="stat-desc"></div>-->

          <!--            </div>-->

          <!--          </div>-->


          <!--          <div>-->
          <!--            <div class="form-control">-->
          <!--              <label class="input-group">-->
          <!--                <span>Nb Female</span>-->
          <!--                <input type="number" placeholder="45" class="input input-bordered" [(ngModel)]="totalParticipantsFemale"-->
          <!--                       (change)="updateTotalCat('f')"/>-->
          <!--              </label>-->
          <!--            </div>-->
          <!--          </div>-->


          <!--          <div>-->
          <!--            <div class="form-control">-->
          <!--              <label class="input-group">-->
          <!--                <span>Nb Male</span>-->
          <!--                <input type="number" placeholder="45" class="input input-bordered" [(ngModel)]="totalParticipantsMale"-->
          <!--                       (change)="updateTotalCat('m')"/>-->
          <!--              </label>-->
          <!--            </div>-->
          <!--          </div>-->


          <div>

            <app-calculator [nbSlots]="nbSlots" [totalParticipants]="totalParticipants"
                            [totalParticipantsFemale]="totalParticipantsFemale"
                            [totalParticipantsMale]="totalParticipantsMale"
                            [femaleAgeGroup]="femaleAgeGroup"
                            [maleAgeGroup]="maleAgeGroup"></app-calculator>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
